.app{
	height: 1000px;
    display:  flex;
    background-color: #1D2AD7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2377f6cf'/%3E%3Cstop offset='1' stop-color='%2377f6cf' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2321d4cd'/%3E%3Cstop offset='1' stop-color='%2321d4cd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239bf47a'/%3E%3Cstop offset='1' stop-color='%239bf47a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231D2AD7'/%3E%3Cstop offset='1' stop-color='%231D2AD7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F4FFE7'/%3E%3Cstop offset='1' stop-color='%23F4FFE7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2326D125'/%3E%3Cstop offset='1' stop-color='%2326D125' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.memos{
	display:  grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.memo{
	background-color: maroon;
	width: 150px;
	text-align:  center;
}
.memo h1{
	background: black;
	color:  yellow;
	font-size: 20px;
}
.memo p{
	background: dodgerblue;
	font-size: 21px;
	margin: 1px;
}
.memo button{
	background: black;
	color: white;
	cursor: pointer;
	margin: 5px;
	font-size: 17px;
}
.form{
	width:  200px;
}
.form label{
	font-size: 20px;

}
.form button{
	width: 91px;
	height: 40px;
	background: white;
	cursor:  pointer;
	font-size: 20px;
}
